{
  "openapi": "3.0.3",
  "info": {
    "title": "Banking Management API",
    "description": "A comprehensive API for banking management applications.\n\n## Features\n* User authentication & authorization (JWT)\n* Account management (checking, savings, credit)\n* Fund transfers (internal & external)\n* Bill payments & scheduled payments\n* Transaction history & statements\n* Beneficiary management\n* Card management\n* Loan applications & tracking\n\n## Authentication\nThis API uses JWT Bearer tokens. Obtain a token via `/auth/login`.\n",
    "version": "1.0.2",
    "contact": {
      "name": "API Support",
      "email": "support@bankingapp.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.bankingapp.com/v1",
      "description": "Production server"
    },
    {
      "url": "https://sandbox.bankingapp.com/v1",
      "description": "Sandbox server"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication and authorization endpoints"
    },
    {
      "name": "Accounts",
      "description": "Account management operations"
    },
    {
      "name": "Transactions",
      "description": "Transaction history and details"
    },
    {
      "name": "Transfers",
      "description": "Fund transfer operations"
    },
    {
      "name": "Payments",
      "description": "Bill payments and scheduled payments"
    },
    {
      "name": "Beneficiaries",
      "description": "Beneficiary management"
    },
    {
      "name": "Cards",
      "description": "Debit/Credit card management"
    },
    {
      "name": "Loans",
      "description": "Loan applications and management"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from /auth/login"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "description": "Standard error response format.",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique error code.",
            "example": "INVALID_REQUEST"
          },
          "message": {
            "type": "string",
            "description": "A human-readable error message.",
            "example": "Invalid request parameters"
          },
          "details": {
            "type": "object",
            "description": "Optional additional details about the error.",
            "additionalProperties": true
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "Money": {
        "type": "object",
        "description": "Represents a monetary amount with currency.",
        "properties": {
          "amount": {
            "type": "number",
            "format": "decimal",
            "description": "The monetary amount.",
            "example": 1500.5
          },
          "currency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "description": "ISO 4217 currency code (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "required": [
          "amount",
          "currency"
        ]
      },
      "PagedResponse": {
        "type": "object",
        "description": "Standard pagination response wrapper.",
        "properties": {
          "data": {
            "type": "array",
            "description": "Array of items for the current page."
          },
          "page": {
            "type": "integer",
            "description": "The current page number (1-indexed).",
            "example": 1
          },
          "size": {
            "type": "integer",
            "description": "The number of items per page.",
            "example": 20
          },
          "total": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "example": 150
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages.",
            "example": 8
          }
        },
        "required": [
          "data",
          "page",
          "size",
          "total",
          "totalPages"
        ]
      },
      "LoginRequest": {
        "type": "object",
        "description": "Request body for user login.",
        "properties": {
          "username": {
            "type": "string",
            "description": "User's unique username.",
            "example": "john.doe"
          },
          "password": {
            "type": "string",
            "format": "password",
            "description": "User's password.",
            "example": "SecurePass123!"
          }
        },
        "required": [
          "username",
          "password"
        ]
      },
      "LoginResponse": {
        "type": "object",
        "description": "Response body for successful user login.",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "JWT access token for API authentication."
          },
          "refreshToken": {
            "type": "string",
            "description": "JWT refresh token to obtain new access tokens."
          },
          "tokenType": {
            "type": "string",
            "description": "Type of the token, typically 'Bearer'.",
            "example": "Bearer"
          },
          "expiresIn": {
            "type": "integer",
            "description": "Access token expiration time in seconds.",
            "example": 3600
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "tokenType",
          "expiresIn"
        ]
      },
      "RefreshTokenRequest": {
        "type": "object",
        "description": "Request body for refreshing an access token.",
        "properties": {
          "refreshToken": {
            "type": "string",
            "description": "The refresh token obtained during login."
          }
        },
        "required": [
          "refreshToken"
        ]
      },
      "Account": {
        "type": "object",
        "description": "Details of a banking account.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the account.",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number.",
            "example": "1234567890"
          },
          "accountType": {
            "type": "string",
            "description": "Type of the account.",
            "enum": [
              "CHECKING",
              "SAVINGS",
              "CREDIT",
              "BUSINESS"
            ]
          },
          "balance": {
            "$ref": "#/components/schemas/Money",
            "description": "Current balance of the account."
          },
          "availableBalance": {
            "$ref": "#/components/schemas/Money",
            "description": "Available balance, considering pending transactions."
          },
          "status": {
            "type": "string",
            "description": "Current status of the account.",
            "enum": [
              "ACTIVE",
              "FROZEN",
              "CLOSED"
            ]
          },
          "openedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the account was opened."
          },
          "customerId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the customer who owns this account."
          },
          "interestRate": {
            "type": "number",
            "format": "decimal",
            "description": "Annual interest rate in percentage (for savings/credit accounts).",
            "example": 3.5
          }
        },
        "required": [
          "id",
          "accountNumber",
          "accountType",
          "balance",
          "status",
          "openedAt",
          "customerId"
        ]
      },
      "CreateAccountRequest": {
        "type": "object",
        "description": "Request body for creating a new account.",
        "properties": {
          "accountType": {
            "type": "string",
            "description": "Type of account to create.",
            "enum": [
              "CHECKING",
              "SAVINGS",
              "BUSINESS"
            ],
            "example": "CHECKING"
          },
          "initialDeposit": {
            "$ref": "#/components/schemas/Money",
            "description": "Initial deposit amount for the new account."
          }
        },
        "required": [
          "accountType",
          "initialDeposit"
        ]
      },
      "AccountStatement": {
        "type": "object",
        "description": "Summary of an account's financial activity over a period.",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the account for which the statement is generated."
          },
          "periodStart": {
            "type": "string",
            "format": "date",
            "description": "Start date of the statement period."
          },
          "periodEnd": {
            "type": "string",
            "format": "date",
            "description": "End date of the statement period."
          },
          "openingBalance": {
            "$ref": "#/components/schemas/Money",
            "description": "Account balance at the beginning of the period."
          },
          "closingBalance": {
            "$ref": "#/components/schemas/Money",
            "description": "Account balance at the end of the period."
          },
          "totalCredits": {
            "$ref": "#/components/schemas/Money",
            "description": "Total amount credited to the account during the period."
          },
          "totalDebits": {
            "$ref": "#/components/schemas/Money",
            "description": "Total amount debited from the account during the period."
          },
          "transactions": {
            "type": "array",
            "description": "List of transactions within the statement period.",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          }
        },
        "required": [
          "accountId",
          "periodStart",
          "periodEnd",
          "openingBalance",
          "closingBalance",
          "totalCredits",
          "totalDebits",
          "transactions"
        ]
      },
      "Transaction": {
        "type": "object",
        "description": "Details of a financial transaction.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the transaction.",
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          "transactionId": {
            "type": "string",
            "description": "External transaction reference ID.",
            "example": "TXN123456789"
          },
          "type": {
            "type": "string",
            "description": "Type of transaction.",
            "enum": [
              "CREDIT",
              "DEBIT",
              "TRANSFER",
              "PAYMENT",
              "FEE",
              "INTEREST"
            ]
          },
          "amount": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount of money involved in the transaction."
          },
          "description": {
            "type": "string",
            "description": "A brief description of the transaction.",
            "example": "Salary deposit"
          },
          "status": {
            "type": "string",
            "description": "Current status of the transaction.",
            "enum": [
              "PENDING",
              "COMPLETED",
              "FAILED",
              "REVERSED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the transaction was initiated."
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the transaction was completed."
          },
          "reference": {
            "type": "string",
            "description": "An optional reference code for the transaction.",
            "example": "REF12345"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the account associated with this transaction."
          },
          "counterparty": {
            "type": "string",
            "description": "Other party involved in the transaction (e.g., merchant, beneficiary).",
            "example": "Acme Corp"
          }
        },
        "required": [
          "id",
          "type",
          "amount",
          "status",
          "createdAt",
          "accountId"
        ]
      },
      "TransferRequest": {
        "type": "object",
        "description": "Request body for an internal fund transfer.",
        "properties": {
          "fromAccountId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the source account."
          },
          "toAccountId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the destination account."
          },
          "amount": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount to transfer."
          },
          "description": {
            "type": "string",
            "maxLength": 200,
            "description": "A brief description for the transfer.",
            "example": "Monthly rent"
          },
          "scheduledFor": {
            "type": "string",
            "format": "date-time",
            "description": "Optional: If provided, schedules the transfer for a future date/time."
          }
        },
        "required": [
          "fromAccountId",
          "toAccountId",
          "amount"
        ]
      },
      "ExternalTransferRequest": {
        "type": "object",
        "description": "Request body for an external fund transfer to a beneficiary.",
        "properties": {
          "fromAccountId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the source account."
          },
          "beneficiaryId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the registered beneficiary."
          },
          "amount": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount to transfer."
          },
          "description": {
            "type": "string",
            "maxLength": 200,
            "description": "A brief description for the transfer."
          }
        },
        "required": [
          "fromAccountId",
          "beneficiaryId",
          "amount"
        ]
      },
      "TransferResponse": {
        "type": "object",
        "description": "Response body after initiating a fund transfer.",
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "The ID of the created transaction."
          },
          "status": {
            "type": "string",
            "description": "Current status of the transfer.",
            "enum": [
              "PROCESSING",
              "COMPLETED",
              "SCHEDULED",
              "FAILED"
            ]
          },
          "message": {
            "type": "string",
            "description": "A descriptive message about the transfer status."
          },
          "scheduledDate": {
            "type": "string",
            "format": "date-time",
            "description": "Only present if the transfer was scheduled for a future date."
          }
        },
        "required": [
          "transactionId",
          "status",
          "message"
        ]
      },
      "ScheduledTransfer": {
        "type": "object",
        "description": "Details of a scheduled fund transfer.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the scheduled transfer.",
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          "fromAccountId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the account from which funds will be transferred.",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "toAccountId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the account to which funds will be transferred (for internal transfers)."
          },
          "beneficiaryId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the external beneficiary (for external transfers)."
          },
          "amount": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount of money to be transferred."
          },
          "description": {
            "type": "string",
            "maxLength": 200,
            "description": "A brief description of the transfer.",
            "example": "Monthly rent payment"
          },
          "scheduledFor": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the transfer is scheduled to occur.",
            "example": "2024-07-15T09:00:00Z"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "COMPLETED",
              "FAILED",
              "CANCELLED"
            ],
            "description": "Current status of the scheduled transfer.",
            "example": "PENDING"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the scheduled transfer was created.",
            "example": "2024-06-15T09:00:00Z"
          }
        },
        "required": [
          "id",
          "fromAccountId",
          "amount",
          "scheduledFor",
          "status",
          "createdAt"
        ]
      },
      "Beneficiary": {
        "type": "object",
        "description": "Details of a registered beneficiary for transfers.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the beneficiary.",
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          "name": {
            "type": "string",
            "description": "Full name of the beneficiary.",
            "example": "John Smith"
          },
          "nickname": {
            "type": "string",
            "description": "A friendly nickname for the beneficiary.",
            "example": "John"
          },
          "accountNumber": {
            "type": "string",
            "description": "Beneficiary's account number.",
            "example": "9876543210"
          },
          "bankCode": {
            "type": "string",
            "description": "SWIFT/BIC code of the beneficiary's bank.",
            "example": "BANKUS33"
          },
          "bankName": {
            "type": "string",
            "description": "Name of the beneficiary's bank.",
            "example": "Bank of America"
          },
          "accountType": {
            "type": "string",
            "description": "Type of the beneficiary's account.",
            "enum": [
              "CHECKING",
              "SAVINGS"
            ]
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the beneficiary."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the beneficiary was added."
          }
        },
        "required": [
          "id",
          "name",
          "accountNumber",
          "bankCode",
          "createdAt"
        ]
      },
      "AddBeneficiaryRequest": {
        "type": "object",
        "description": "Request body for adding a new beneficiary.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the beneficiary."
          },
          "nickname": {
            "type": "string",
            "description": "A friendly nickname for the beneficiary."
          },
          "accountNumber": {
            "type": "string",
            "description": "Beneficiary's account number."
          },
          "bankCode": {
            "type": "string",
            "description": "SWIFT/BIC code of the beneficiary's bank."
          },
          "bankName": {
            "type": "string",
            "description": "Name of the beneficiary's bank."
          },
          "accountType": {
            "type": "string",
            "description": "Type of the beneficiary's account.",
            "enum": [
              "CHECKING",
              "SAVINGS"
            ]
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the beneficiary."
          }
        },
        "required": [
          "name",
          "accountNumber",
          "bankCode"
        ]
      },
      "PaymentRequest": {
        "type": "object",
        "description": "Request body for making a bill payment.",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the account from which the payment will be made."
          },
          "payeeId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the registered payee."
          },
          "amount": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount to pay."
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "description": "The date the payment is due."
          },
          "description": {
            "type": "string",
            "description": "A brief description for the payment."
          },
          "recurrence": {
            "type": "string",
            "description": "How often the payment should recur.",
            "enum": [
              "ONE_TIME",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY"
            ],
            "default": "ONE_TIME"
          }
        },
        "required": [
          "accountId",
          "payeeId",
          "amount",
          "dueDate"
        ]
      },
      "Payee": {
        "type": "object",
        "description": "Details of a registered payee for bill payments.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the payee."
          },
          "name": {
            "type": "string",
            "description": "Full name or organization name of the payee."
          },
          "category": {
            "type": "string",
            "description": "Category of the payee.",
            "enum": [
              "UTILITIES",
              "RENT",
              "INSURANCE",
              "TAXES",
              "OTHER"
            ]
          },
          "accountNumber": {
            "type": "string",
            "description": "Payee's account number or biller ID."
          },
          "bankCode": {
            "type": "string",
            "description": "Bank code of the payee's bank (if applicable)."
          },
          "isRecurring": {
            "type": "boolean",
            "description": "Indicates if payments to this payee are typically recurring."
          }
        },
        "required": [
          "id",
          "name",
          "accountNumber"
        ]
      },
      "Card": {
        "type": "object",
        "description": "Details of a debit or credit card.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the card."
          },
          "cardNumberMasked": {
            "type": "string",
            "pattern": "^xxxx-xxxx-xxxx-\\d{4}$",
            "description": "Masked card number for display.",
            "example": "xxxx-xxxx-xxxx-1234"
          },
          "cardType": {
            "type": "string",
            "description": "Type of the card.",
            "enum": [
              "DEBIT",
              "CREDIT"
            ]
          },
          "status": {
            "type": "string",
            "description": "Current status of the card.",
            "enum": [
              "ACTIVE",
              "BLOCKED",
              "EXPIRED",
              "LOST",
              "STOLEN"
            ]
          },
          "expiryDate": {
            "type": "string",
            "format": "month",
            "description": "Card expiration date (YYYY-MM).",
            "example": "2025-12"
          },
          "dailyLimit": {
            "$ref": "#/components/schemas/Money",
            "description": "Daily spending limit for the card."
          },
          "monthlyLimit": {
            "$ref": "#/components/schemas/Money",
            "description": "Monthly spending limit for the card."
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the account linked to this card."
          },
          "issuedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the card was issued."
          }
        },
        "required": [
          "id",
          "cardNumberMasked",
          "cardType",
          "status",
          "expiryDate",
          "accountId",
          "issuedAt"
        ]
      },
      "CardTransaction": {
        "type": "object",
        "description": "Details of a transaction made using a card.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the card transaction."
          },
          "merchantName": {
            "type": "string",
            "description": "Name of the merchant where the transaction occurred."
          },
          "amount": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount of the transaction."
          },
          "location": {
            "type": "string",
            "description": "Location where the transaction occurred."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the transaction."
          },
          "cardId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the card used for the transaction."
          }
        },
        "required": [
          "id",
          "merchantName",
          "amount",
          "timestamp",
          "cardId"
        ]
      },
      "LoanApplication": {
        "type": "object",
        "description": "Details of a loan application.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the loan application."
          },
          "customerId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the customer who submitted the application."
          },
          "loanType": {
            "type": "string",
            "description": "Type of loan requested.",
            "enum": [
              "PERSONAL",
              "HOME",
              "AUTO",
              "BUSINESS"
            ]
          },
          "amountRequested": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount of loan requested by the customer."
          },
          "amountApproved": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount of loan approved (if applicable)."
          },
          "termMonths": {
            "type": "integer",
            "description": "Loan term in months.",
            "example": 36
          },
          "interestRate": {
            "type": "number",
            "format": "decimal",
            "description": "Approved interest rate for the loan.",
            "example": 5.99
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan application.",
            "enum": [
              "PENDING",
              "UNDER_REVIEW",
              "APPROVED",
              "REJECTED",
              "DISBURSED"
            ]
          },
          "appliedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the application was submitted."
          },
          "decisionAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when a decision was made on the application."
          },
          "documents": {
            "type": "array",
            "description": "List of document IDs or URLs submitted with the application.",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "customerId",
          "loanType",
          "amountRequested",
          "status",
          "appliedAt"
        ]
      },
      "LoanApplicationRequest": {
        "type": "object",
        "description": "Request body for submitting a new loan application.",
        "properties": {
          "loanType": {
            "type": "string",
            "description": "Type of loan being applied for.",
            "enum": [
              "PERSONAL",
              "HOME",
              "AUTO",
              "BUSINESS"
            ]
          },
          "amount": {
            "$ref": "#/components/schemas/Money",
            "description": "The desired loan amount."
          },
          "termMonths": {
            "type": "integer",
            "minimum": 3,
            "maximum": 360,
            "description": "Desired loan term in months."
          },
          "purpose": {
            "type": "string",
            "description": "Brief description of the loan's purpose.",
            "example": "Home renovation"
          }
        },
        "required": [
          "loanType",
          "amount",
          "termMonths",
          "purpose"
        ]
      }
    }
  },
  "paths": {
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login with username and password to get JWT tokens",
        "description": "Authenticates a user with their username and password and returns JWT access and refresh tokens.",
        "operationId": "login",
        "requestBody": {
          "description": "User credentials for login.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login, returns JWT tokens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid credentials or malformed request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Refresh access token",
        "description": "Uses a refresh token to obtain a new JWT access token.",
        "operationId": "refreshToken",
        "requestBody": {
          "description": "Refresh token to generate a new access token.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New access token generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired refresh token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Logout user",
        "description": "Invalidates the current session's access and refresh tokens.",
        "operationId": "logout",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully logged out, no content."
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get all accounts",
        "description": "Returns a paginated list of banking accounts for the authenticated user.",
        "operationId": "getAccounts",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter accounts by type.",
            "schema": {
              "type": "string",
              "enum": [
                "CHECKING",
                "SAVINGS",
                "CREDIT",
                "BUSINESS"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter accounts by status.",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "FROZEN",
                "CLOSED"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Account"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create new account",
        "description": "Creates a new banking account for the authenticated user.",
        "operationId": "createAccount",
        "requestBody": {
          "description": "Details for the new account to be created.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed for the provided data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account by ID",
        "description": "Retrieves details for a specific banking account by its ID.",
        "operationId": "getAccount",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Unique identifier of the account.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, user does not have access to this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Account not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/statement": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account statement",
        "description": "Generates and retrieves a statement for a specific account within a given date range.",
        "operationId": "getStatement",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Unique identifier of the account.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start date of the statement period (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date of the statement period (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Desired format for the account statement.",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "PDF"
              ],
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account statement retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountStatement"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid date range or format requested.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, user does not have access to this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Account not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get transaction history",
        "description": "Retrieves a paginated list of transaction history for a given account, with optional filters.",
        "operationId": "getTransactions",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Unique identifier of the account to retrieve transactions for.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start date-time for filtering transactions (ISO 8601 format).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date-time for filtering transactions (ISO 8601 format).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter transactions by type.",
            "schema": {
              "type": "string",
              "enum": [
                "CREDIT",
                "DEBIT",
                "TRANSFER",
                "PAYMENT"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of transactions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Transaction"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, user does not have access to this account's transactions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{transactionId}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get transaction details",
        "description": "Retrieves detailed information for a specific transaction by its ID.",
        "operationId": "getTransaction",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Unique identifier of the transaction.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, user does not have access to this transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/internal": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "Internal transfer",
        "description": "Initiates a fund transfer between two accounts belonging to the same authenticated user.",
        "operationId": "internalTransfer",
        "requestBody": {
          "description": "Details for the internal fund transfer.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Internal transfer processed or scheduled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, e.g., insufficient funds, invalid account IDs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, user does not have access to one of the accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error for the provided transfer details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/external": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "External transfer",
        "description": "Initiates a fund transfer to an external, registered beneficiary.",
        "operationId": "externalTransfer",
        "requestBody": {
          "description": "Details for the external fund transfer.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalTransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "External transfer initiated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, e.g., insufficient funds, invalid beneficiary ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, user does not have access to the source account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Beneficiary not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error for the provided transfer details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/scheduled": {
      "get": {
        "tags": [
          "Transfers"
        ],
        "summary": "Get scheduled transfers",
        "description": "Retrieves a paginated list of scheduled fund transfers for the authenticated user.",
        "operationId": "getScheduledTransfers",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Optional: Filter scheduled transfers by source account ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Optional: Filter scheduled transfers starting from this date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of scheduled transfers retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ScheduledTransfer"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/beneficiaries": {
      "get": {
        "tags": [
          "Beneficiaries"
        ],
        "summary": "Get all beneficiaries",
        "description": "Retrieves a paginated list of all registered beneficiaries for the authenticated user.",
        "operationId": "getBeneficiaries",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of beneficiaries retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Beneficiary"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Beneficiaries"
        ],
        "summary": "Add beneficiary",
        "description": "Adds a new external beneficiary for future fund transfers.",
        "operationId": "addBeneficiary",
        "requestBody": {
          "description": "Details of the beneficiary to add.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBeneficiaryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Beneficiary added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Beneficiary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Beneficiary with similar details already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error for the provided beneficiary details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Make a payment",
        "description": "Initiates a bill payment to a registered payee, optionally scheduling it or setting up recurrence.",
        "operationId": "makePayment",
        "requestBody": {
          "description": "Details for the bill payment.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Payment accepted for processing or scheduling.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, e.g., insufficient funds, invalid payee ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, user does not have access to the source account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Payee or account not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error for the provided payment details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/payees": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get saved payees",
        "description": "Retrieves a paginated list of all registered payees for the authenticated user.",
        "operationId": "getPayees",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of payees retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Payee"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cards": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "Get all cards",
        "description": "Retrieves a paginated list of all debit and credit cards associated with the authenticated user's accounts.",
        "operationId": "getCards",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of cards retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Card"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cards/{cardId}/transactions": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "Get card transactions",
        "description": "Retrieves a paginated list of transactions made with a specific card, with optional date filters.",
        "operationId": "getCardTransactions",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "description": "Unique identifier of the card.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start date-time for filtering transactions (ISO 8601 format).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date-time for filtering transactions (ISO 8601 format).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Card transactions retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CardTransaction"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, user does not have access to this card.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Card not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cards/{cardId}/block": {
      "post": {
        "tags": [
          "Cards"
        ],
        "summary": "Block card",
        "description": "Temporarily or permanently blocks a specific card due to loss, theft, or suspicious activity.",
        "operationId": "blockCard",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "description": "Unique identifier of the card to block.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Reason for blocking the card and whether the block is permanent.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "The reason for blocking the card.",
                    "enum": [
                      "LOST",
                      "STOLEN",
                      "SUSPICIOUS_ACTIVITY",
                      "DAMAGED"
                    ]
                  },
                  "permanent": {
                    "type": "boolean",
                    "description": "If true, the card is permanently blocked and cannot be unblocked.",
                    "default": false
                  }
                },
                "required": [
                  "reason"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card blocked successfully."
          },
          "400": {
            "description": "Invalid request, e.g., card already blocked or invalid reason.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, user does not have access to this card.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Card not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/loans/apply": {
      "post": {
        "tags": [
          "Loans"
        ],
        "summary": "Apply for a loan",
        "description": "Submits a new loan application for the authenticated user.",
        "operationId": "applyLoan",
        "requestBody": {
          "description": "Details for the new loan application.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoanApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Loan application submitted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoanApplication"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed for the provided application data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/loans/applications": {
      "get": {
        "tags": [
          "Loans"
        ],
        "summary": "Get loan applications",
        "description": "Retrieves a paginated list of loan applications submitted by the authenticated user, with optional status filtering.",
        "operationId": "getLoanApplications",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter loan applications by their current status.",
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "UNDER_REVIEW",
                "APPROVED",
                "REJECTED",
                "DISBURSED"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of loan applications retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/LoanApplication"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/loans/applications/{applicationId}": {
      "get": {
        "tags": [
          "Loans"
        ],
        "summary": "Get loan application details",
        "description": "Retrieves detailed information for a specific loan application by its ID.",
        "operationId": "getLoanApplication",
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "Unique identifier of the loan application.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Loan application details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoanApplication"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, user does not have access to this loan application.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Loan application not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}